*{margin:0px;padding:0px}
li{list-style:none}
a{text-decoration:none}
img{vertical-align:bottom}
html,body{
	height:100%
}
.windowbg{
	background-color:rgba(0,0,0,0.3);
	height:100%
}
.windowbg a{
	display:block;
	height:100%;
	cursor:default
}
.window{
	background:url(../images/dlwindow-bg.jpg);
	width:652px;
	position:fixed;
	left:50%;
	margin-left:-326px;
	top:50%;
	margin-top:-159px
}
.lg2{
	width:568px;
	margin:0px auto;
	color:white
}
.lg2 p{
	padding:30px 0px;
	display:flex;
	justify-content:space-between
}
.lg2 p a{
	width: 18px;
	height: 18px;
	background:url(../images/icon.png) 0 -469px;
}
.lg2text>div{
	width:300px;
	margin-bottom:20px	
}
.lg2text input{
	border:0px;
	font-size: 14px;
	width:300px;
	height:40px;
	background-color:rgba(193,193,193,0.4);
	outline:none;
	color:white
}
.lg2text input::placeholder{
	color:white;
	opacity:0.7
}
.ttp{
	position:relative;
	top:-20px;
	left:30px
}
.log-in{
	padding-top:22px
}
.auto{
	font-size:12px;
	color:white
}
.forget{
	float:right;
	color:white
}
.log-in a{
	background:black;
	color:white;
	border-radius:4px;
	width:120px;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:30px
}

.zc{
	position:relative;
	left:-70px;
	color:white;
	text-decoration:underline
}
.ttp-list{
	position:relative;
	top:-30px;
	left:30px
}
.ttp-list a>div{
	width:25px;
	height:25px;
	float:left;
	margin:0px 5px
}
.ttp-list a:first-child div{
	background: url(../images/tx.png) no-repeat
}
.ttp-list a:nth-child(2) div{
	background: url(../images/qq.png) no-repeat
}
.ttp-list a:nth-child(3) div{
	background: url(../images/wb.png) no-repeat
}
.ttp-list a:nth-child(4) div{
	background: url(../images/douban.png) no-repeat
}
.ttp-list a:hover{
	opacity:0.5
}
