*{margin:0px;padding:0px}
li{list-style:none}
a{text-decoration:none}
img{vertical-align:bottom}
body{background:#999999}
.lg2{
	width:300px;
	margin:0px auto
}
.lg2 tr:first-child{
	text-align:center
}
.lg2logo{
	padding:60px 0px;
}
.lg2text>div{
	width:250px;
	padding-left:50px;
	margin-bottom:20px	
}
.lg2text input{
	border:0px;
	font-size: 14px;
	font-weight:bold;
	width:249px;
	border-left:1px solid gray;
	height:50px;
	background:#CBCBCB;
	outline:none;
	color:white
}
.lg2text input::placeholder{
	color:white
}
.lg2phone>div{
	background:#CBCBCB url(../images/dlphone2.png) no-repeat 10px 11px;
}
.lg2mm>div{
	background:#CBCBCB url(../images/dlmm2.png) no-repeat 10px 11px;
}
.log-in{
	padding-top:22px
}
.auto{
	font-size:12px;
	color:white
}
.forget{
	float:right;
	color:white
}
.log-in a{
	background:black;
	color:white;
	border-radius:4px;
	width:300px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
	margin-bottom:30px;
	font-weight:bold
}
.zc{
	color:white;
	font-weight:bold;
	text-decoration:underline
}
.lg2 tr:last-child{
	text-align:right;
}
.lg2 tr:last-child a>div{
	width:25px;
	height:25px;
	/* background: url(../images//qq.png) no-repeat; */
	float:left;
	margin:0px 5px
}
.lg2 tr:last-child a:last-child div{
	background: url(../images/tx.png) no-repeat
}
.lg2 tr:last-child a:nth-child(2) div{
	background: url(../images/qq.png) no-repeat
}
.lg2 tr:last-child a:nth-child(3) div{
	background: url(../images/wb.png) no-repeat
}
.lg2 tr:last-child a:nth-child(4) div{
	background: url(../images/douban.png) no-repeat
}
.lg2 tr:last-child a:nth-child(n+2):hover{
	opacity:0.5
}
